/* Classes for dishes */

.dish {
  padding: 0.75rem 0;
  border-bottom: 1px solid #000000;
}

.dish-title {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  margin-right: 8px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Azeret Mono", monospace;
  font-weight: 400;
  text-transform: uppercase;
}

.dish-title-icon {
  width: 1rem;
  height: 1rem;
  margin: 0;
  background-color: #ffaa5b;
  border-radius: 50%;
  border: 1px solid #000;
  margin-right: 0.5rem;
}

.dish-title-icon[data-veg="true"] {
  background-color: #449856;
}

.dish-title-icon[data-fish="true"] {
  background-color: #457b9d;
}

.dish-title-icon[data-misc="true"] {
  background-color: #bc8f8f;
}

.dish-header-icon {
  color: #000000;
}

.dish-descr {
  font-size: 0.9rem;
  font-family: "Open Sans", sans-serif;
  max-width: 241px;
  margin: 0;
}

.dish-title-wrapper {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
