/* Classes for dishes */

.dish {
  margin-top: 8px;
  border-bottom: 1px solid #000000;
}

.dish-title {
  font-size: 1rem;
  margin-right: 8px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Azeret Mono', monospace;
  font-weight: 400;
  text-transform: capitalize;
}

.dish-title-icon {
  margin: 0;
  color: #ffaa5b;
}

.dish-title-icon[data-veg='true'] {
  color: #449856;
}

.dish-title-icon[data-fish='true'] {
  color: #457b9d;
}

.dish-header-icon {
  color: #000000;
}

.dish-descr {
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
  max-width: 241px;
}

.dish-title-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
