.App {
  background-color: #fdfdf2;
  height: 100vh;
}

.restaurant-list {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: start;
}

.restaurant {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.rest-wrapper {
  margin-bottom: 12px;
}

.restaurant-image {
  width: 240px;
  height: 328px;
  border-radius: 120px;
  margin: 0 auto;
  object-fit: cover;
  margin-bottom: 1.5rem;
}

.rest-title {
  font-family: 'Azeret Mono', monospace;
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
}

.rest-descr {
  font-size: 1rem;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  max-width: 241px;
  min-height: 3rem;
}

/* Classes for dishes */

.dish {
  margin-top: 8px;
  border-bottom: 1px solid #000000;
}

.dish-title {
  font-size: 1.5rem;
  margin-right: 8px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Azeret Mono', monospace;
  font-weight: 400;
}

.dish-title-icon {
  margin: 0;
  color: #FFAA5B
}

[data-veg="true"] {
  color: #449856;
 }

.dish-descr {
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  max-width: 241px;
}

.dish-title-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
}
