body {
  background-color: #fdfdf2;
  height: 100vh;
}

.App {
  background-color: #fdfdf2;
  height: 100%;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .App {
    padding: 0;
    margin: 0;
  }
}
