body {
  background-color: #fdfdf2;
  height: 100vh;
}

.App {
  background-color: #fdfdf2;
  height: 100%;
  padding: 2rem;
}

@media only screen and (max-width: 768px) {
  .App {
    padding: 1rem;
  }
  .restaurant-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .restaurant-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 425px) {
  .restaurant-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
