.restaurant {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.restaurant a {
  text-decoration: none;
}

.rest-wrapper {
  margin-bottom: 12px;
}

.restaurant-image-wrapper {
  position: relative;
}

.restaurant-image {
  width: 160px;
  height: 224px;
  border-radius: 120px;
  margin: 0 auto;
  object-fit: cover;
  margin-bottom: 1.5rem;
}

.restaurant-arrow {
  position: absolute;
  left: 0;
  bottom: 0.5rem;
}

.rest-title {
  color: #000;
  font-family: "Azeret Mono", monospace;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0;
}

.rest-descr {
  font-size: 0.8rem;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  max-width: 241px;
  min-height: 3rem;
}
