@keyframes load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 0 1.25rem;
  margin-bottom: 2rem;
  animation-name: load;
  animation-duration: 1s;
  background-color: #fff;
  height: 5.625rem;
}

.header-heading {
  display: flex;
  flex-direction: column;
}

.header-heading h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0.25rem 0 0;
  padding: 0;
}

.header-logo {
  display: flex;
  justify-content: center;
}

.header-icon {
  justify-self: center;
  width: 12rem;
}

.header-text.frequency {
  font-size: 0.75rem;
  margin-top: 0.25rem;
  margin-bottom: 0;
}

@media only screen and (max-width: 430px) {
  .header-heading h1 {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 360px) {
  .header-heading h1 {
    font-size: 1rem;
  }
}
