@keyframes load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  border: 1px solid black;
  border-radius: 40px;
  margin-bottom: 2rem;
  animation-name: load;
  animation-duration: 1s;
}

.header-text {
  font-family: "Azeret Mono", monospace;
  margin: 10px 0 10px 20px;
  font-size: 18px;
  font-weight: 400;
}

.header-icon {
  justify-self: center;
}

.header-text.frequency {
  justify-self: flex-end;
  margin: 10px 20px 10px 0;
}
